body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

.note {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
}

.main {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
}

.notater {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.todos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#todosContainer {
    width: 100%;
}

#notesContainer {
    width: 100%;
}

.box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.checkbox {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}